In [1]:
import tkinter as tk
from tkinter.filedialog import askopenfilename
import pandas as pd

root = tk.Tk()
exlpath = askopenfilename()
root.destroy()
print(exlpath)
df = pd.read_csv(exlpath)
df.head()

C:/Users/ASUS/OneDrive - American International University-Bangladesh/Desktop/9th Semester/dataset/lung_cancer_examples.csv

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

### This choosen csv will be then used for prediction